body{
    float: left;
    min-width: 600px;
    max-width: 700px;
    /*width: auto;*/
    min-height: 1800px;
    height: auto;
}

h1 {
    font-size:42px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-size:36px;
    margin-bottom:15px;
    font-style: oblique;
    font-weight:normal;
}

h3{
    font-style: italic;
    font-weight:normal;
}

ul{
    list-style-type: none;
}

.dropbtn h3{
    font-style: normal;
    font-weight: bolder;
}

#top-bar{
    position: fixed;
    left: 0;
    top: 0;
    float: left;
    width:100%;
    height:60px;
    background-color: black;
    z-index: 10;
    opacity: 1;
}
        #top-bar #fb {
            float: left;
            /*top: 0;*/
            margin-top: 10px;
            margin-left: 10px;
            /*left: 0;*/
            width: 40px;
            height: 40px;
            background:url('resources/fb.png') no-repeat;
            background-size: cover;
            /*padding-top: -50px;*/
            /*padding-left: 30px;*/
        }

        #top-bar #fb:hover {
            border: 1px solid black;
        }

        .dropbtn {
            background-color: black;
            color: white;
            height: 60px;
            width: 60px;
            font-size: 12px;
            border: none;
            cursor: pointer;
            z-index: 10;
        }

        .dropdown {
            float: right;
            display: inline-block;
            margin-right: 20px;
            z-index: 10;
        }

        .dropdown-content {
            display: none;
            float: left;
            position: absolute;
            background-color: #f9f9f9;
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 10;
        }

        .dropdown-content a {
            color: black;
            padding: 10px 14px;
            text-align:right;
            text-decoration: none;
            display: block;
            z-index: 10;
            opacity: 0.7;
        }

        .dropdown-content a:hover {
            background-color: grey;
            color: white;
            z-index: 10;
            opacity: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
            width: 100%;
            float: left;
            left: 0;
            z-index: 10;
            opacity: 0.7;
        }

        .dropdown:hover .dropbtn {
            background-color: black;
            color: grey;
            z-index: 10;
        }

#content{
    left: 0;
    top: 0;
    position: absolute;
    float: left;
    margin-top: 60px;
    width: 100%;
    min-height: 600px;
    height: auto;
    background-color: lightgrey;
}

        .uvod{
            left: 0;
            width: 100%;
            /*position: absolute;*/
            float: left;
            height: 440px;
            background-image: url("resources/two.jpg");
            background-size:cover;
        }
                #uvod-div-top{
                    height: 60px;
                    width: 100%;
                    /*background-color: green;*/
                }
                #uvod-div-content{
                    height: 350px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    /*background-color: white;*/
                }
                #uvod-div-content h1{
                    margin:auto;
                    /*margin-top: 20px;*/
                }
                #uvod-div-content hr{
                    margin-left: 10%;
                    margin-right: 10%;
                }
                #uvod-div-bottom{
                    height: 30px;
                    /*width: 100%;*/
                    /*background-color: aqua;*/
                    padding-left: 50%;
                }
                        .uvod-img{
                            width: 15px;
                            height: 15px;
                            float: left;
                            margin-left: 2px;
                            margin-right: 2px;
                            cursor: pointer;
                        }

        .services{
            left: 0;
            width: 100%;
            /*position: absolute;*/
            float: left;
            height: 700px;
            background-color: lightgrey;
        }
                #services-top{
                    float: left;
                    width: 100%;
                    height: 70px;
                    text-align: center;
                }
                #services-content{
                    float: left;
                    width: 100%;
                    height: 600px;
                    margin-top: 20px;
                    text-align: center;
                    /*background-color: white;*/
                }
                        #services-content-left-top{
                            float: left;
                            width: 50%;
                            height: 300px;
                            /*background-color: red;*/
                        }
                                #services-content-left-top-content{
                                    /*float: left;*/
                                    /*display: table;*/
                                    width: 70%;
                                    height: 120px;
                                    margin: auto;
                                    text-align: left;
                                    padding: 10px 10px;
                                    /*background-color: #FF0000;*/
                                }
                        #services-content-right-top{
                            float: left;
                            width: 50%;
                            height: 300px;
                            /*background-color: whitesmoke;*/
                        }
                                #services-content-right-top-content{
                                    /*float: left;*/
                                    /*display: table;*/
                                    width: 70%;
                                    height: 120px;
                                    margin: auto;
                                    text-align: left;
                                    padding: 10px 10px;
                                    /*background-color: #FF0000;*/
                                }
                        #services-content-left-bottom{
                            float: left;
                            width: 50%;
                            height: 300px;
                            /*background-color: blue;*/
                        }
                                #services-content-left-bottom-content{
                                    /*float: left;*/
                                    /*display: table;*/
                                    width: 70%;
                                    height: 120px;
                                    margin: auto;
                                    text-align: left;
                                    padding: 10px 10px;
                                    /*background-color: #FF0000;*/
                                }
                        #services-content-right-bottom{
                            float: left;
                            width: 50%;
                            height: 300px;
                            /*background-color: purple;*/
                        }
                                #services-content-right-bottom-content{
                                    /*float: left;*/
                                    /*display: table;*/
                                    width: 70%;
                                    height: 120px;
                                    margin: auto;
                                    text-align: left;
                                    padding: 10px 10px;
                                    /*background-color: #FF0000;*/
                                }
                        .img-circle-active {
                            height: 80px;
                            width: 80px;
                            display: table;
                            margin: 0 auto;
                            margin-top: 10px;
                            border-radius: 50%;
                        }
                        .img-circle {
                            height: 80px;
                            width: 80px;
                            display: table;
                            margin: 0 auto;
                            margin-top: 10px;
                            border-radius: 50%;
                        }


.contact{
            left: 0;
            width: 100%;
            /*position: absolute;*/
            float: left;
            height: 500px;
            background-color: white;
        }

                #contact-content{
                    float: left;
                    width: 45%;
                    height: 460px;
                    margin-left: 2.5%;
                    /*color: white;*/
                    vertical-align: middle;
                    display: table-cell;
                    /*background-color: grey;*/
                    text-align: center;
                }

                        #contact-content-left{
                            float: left;
                            width: 49%;
                            height: 270px;
                            margin-top: 10px;
                            /*text-align: center;*/
                            border-right: 1px solid black;
                        }
                                #contact-content-left h3{
                                    margin-bottom: 20px;
                                    font-style: oblique;
                                    font-weight: bolder;
                                }
                                #contact-content-left-text{
                                    display: table;
                                    margin: 0 auto;
                                    text-align: left;
                                    /*margin: 0 auto;*/
                                }

                        #contact-content-right{
                            float: left;
                            width: 50%;
                            height: 270px;
                            margin-top: 10px;
                            text-align: center;
                            border-left: 1px solid black;
                        }
                                #contact-content-right h3{
                                    font-style: oblique;
                                    font-weight: bolder;
                                }
                                #contact-content-right #open-table{
                                    padding: 15px;
                                    text-align: left;
                                    margin: 0 auto;
                                }
                                        #contact-content-right #open-table td{
                                            width: 100px;
                                            height: 20px;
                                        }
                        .contact-content-bottom{
                            float: left;
                            /*left: 0;*/
                            /*bottom: 0;*/
                            width: 100%;
                            height: 70px;
                            margin-top: 20px;
                            padding-top: 15px;
                            text-align: left;
                            /*padding-left: 40px;*/
                            /*border-top: 3px solid black;*/
                            /*border-top-width: 70%;*/
                        }
                                .contact-content-bottom #call-table {
                                    /*float: left;*/
                                    padding: 15px;
                                    text-align: left;
                                    margin: 0 auto;
                                    /*margin-left: 40px;*/
                                }
                                        .contact-content-bottom #call-table td{
                                            width: 180px;
                                            height: 20px;
                                        }
                #map {
                    float: right;
                    width: 50%;
                    height: 500px;
                    background-color: grey;
                }

.contactus{
    left: 0;
    width: 100%;
    /*position: absolute;*/
    float: left;
    height: 650px;
    background-color: lightgrey;
    /*padding-left: 50px;*/
}

.contactus-div{
    float: left;
    min-height: 200px;
    height: auto;
    width:610px;
    /*background-color: #83D186;*/
    position:relative;
    margin-left: 4%;
}



        /* FORMULAR PRO KONTAKTOVANI */

/*{*/
    /*background-color:#F2F7F9;*/
    /*width:465px;*/
    /*padding:20px;*/
    /*margin: 50px auto;*/
    /*border: 6px solid #8FB5C1;*/
    /*-moz-border-radius:15px;*/
    /*-webkit-border-radius:15px;*/
    /*border-radius:15px;*/
    /*position:relative;*/
/*}*/

input,
select,
textarea,
label {
    font-size:15px;
    margin-bottom:2px;
}

input,
select,
textarea {
    width:600px;
    border: 1px solid white;
    background-color: white;
    margin-bottom:20px;
    display:block;
    padding:4px;
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid darkgrey;
    background-color: white;
}

textarea {
    height:250px;
    resize: none;
}

label {
    display:block;
}

.required {
    font-weight:bold;
    color:#F00;
}

#submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    float:left;
    -moz-border-radius:8px;
}

#submit-button:hover {
    background-color: darkgrey;
}

#submit-button:active {
    position:relative;
    top:1px;
}

#loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;
}

#req-field-desc {
    font-style:italic;
    float: right;
    display: block;
    margin-left: 5%;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
    color:#CCC;
    font-style:italic;
}


/*ZAPATI!!!!!!!!!!*/
/*position: absolute;*/
/*left: 0;*/
/*bottom: 0;*/
/*width: 100%;*/
/*height: 50px;*/
/*border-top: 1px solid black;*/